root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,html,js,ts,wat}]
indent_size = 2

[*.{gitcommit,md,typ,txt}]
indent_size = 2

[{M,m}akefile]
indent_style = tab

# Pluto uses tabs :/
[*.nb.jl]
indent_style = tab

[*.ml]
indent_size = 2

[*.scm]
indent_size = 2
